@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.font-style {
    font-family: "Inter", sans-serif;
}

.font-style-two {
    font-family: "Homemade Apple", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* visibility: hidden; */
    background: rgb(20, 20, 20);
    color: #fff;
}

.container-section {
    margin: 50px 200px 0 200px;
}

.title-content {

    width: 900px;
    margin: 100px auto 0px auto;

}

.title-content h2 {

    font-size: 45px;
    font-weight: 900;
    text-align: center;

}

.title-content p {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;

}

/* Navber Section  */

.logo {
    font-size: 19px;
    color: rgb(230, 83, 60);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 15px 0px;
}

.humburger-menu {
    display: none;
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu li a {
    text-decoration: none;
    margin-right: 40px;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.first-child {
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
    margin-left: 5px;
}

/* Responsive  */
@media screen and (max-width:576px) {

    .container-section {
        margin: 50px 50px 0 50px;
    }

    .title-content {

        width: 100%;
        margin: 100px auto 0px auto;

    }

    .navbar {
        display: flex;

    }

    .navbar-menu {
        display: none;
    }

    .humburger-menu {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {

    .container-section {
        margin: 50px 60px 0 60px;
    }

}

/* Banner Start  */

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content h2 {
    font-size: 70px;
    max-width: 450px;
    font-weight: 800;
}

.banner-content p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 25px 0;
    font-weight: 400;

}

.banner-content span {
    font-family: "Homemade Apple", cursive;
    color: rgb(255, 255, 255) !important;
    font-weight: 100 !important;
}

.button-section {
    margin-top: 35px;
}

.sign-up {

    border-radius: 40px;
    border: 1px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 45px;
    font-size: 14px;
    font-weight: 700;
}

.learn-more {

    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 45px;
    font-size: 14px;
    font-weight: 700;
}

.banner-image img {
    width: 100%;
}

/* Responsive  */
@media screen and (max-width:576px) {

    .banner-section {
        flex-direction: column;
    }

    .banner-content h2 {
        font-size: 60px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    .banner-section {
        flex-direction: column;
        align-items: flex-start;
    }

}

/* Banner End  */

/* Build Section Start  */
.build-body {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.build-body-content h4 {

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}

.build-body-content p {

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.build-body-content img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

/* Responsive  */
@media screen and (max-width:576px) {

    .build-body {
        margin-top: 60px;
    }


    .build-body {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    .build-body {
        margin-top: 70px;
    }

    .build-body {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

}

/* Build Section End  */

/* Burning Section Start  */
.burning-section {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
}

.burning-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.burning-content-section h2 {
    font-size: 30px;
}

.burning-content-section p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    max-width: 70%;
    padding: 20px 0 30px 0;
}

.burning-image-section img {
    width: 500px;
    height: auto;
    border-radius: 18px;
}

.burning-button {

    border-radius: 40px;
    border: 1px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}

/* Responsive  */
@media screen and (max-width:576px) {

    .burning-section {
        flex-direction: column;
        padding: 20px;
        margin-top: 5px;
    }

    .burning-image-section img {
        margin-top: 30px;
        width: 100%;
    }

    .burning-button {

        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Burning Section End  */

/* BMI Section Start  */
.bmi-full-section {
    background: rgb(34, 34, 34);
}

.calculate-body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
    flex-basis: 50%;
    padding: 60px 0;
}

.calculate-body .calculate-body-chart {
    flex-basis: 25%;
}

.calculate-body .calculate-body-form {
    flex-basis: 35%;
}

.calculate-body-chart h2 {
    font-size: 25px;
    font-weight: 800;
}

.calculate-body-form h2 {
    font-size: 25px;
    font-weight: 800;
}

.calculate-body-form p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #fff;
    border: 1px solid rgba(129, 122, 122, 0.5);
    padding: 8px 8px 8px 25px;
    text-align: left;
    font-size: 16px;
    height: 30px;
}

td {
    border: 1px solid rgba(129, 122, 122, 0.5);
    padding: 8px 8px 8px 25px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    height: 30px;
}

.form-body {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-body input[type='text'] {

    padding: 20px;
    border: 1px solid rgba(129, 122, 122, 0.5);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.form-body select {

    padding: 20px;
    border: 1px solid rgba(129, 122, 122, 0.5);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.form-body-two select {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(129, 122, 122, 0.5);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.bmi-button {
    border-radius: 40px;
    border: 1px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    padding: 10px 40px 10px 40px;
    text-decoration: none;

}

/* Responsive  */
@media screen and (max-width:576px) {

    .calculate-body {
        flex-direction: column;
        padding: 45px;
    }

    .calculate-body .calculate-body-form {
        margin-top: 15px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    .calculate-body {
        flex-direction: column;
        padding: 45px;
    }

    .calculate-body .calculate-body-form {
        margin-top: 15px;
    }
}

/* BMI section End  */

/* footer section start  */
#footer-section {
    background: rgb(34, 34, 34);
}

.footer-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0;
}


.footer-body-one h3 {
    font-size: 40px;
    color: rgb(230, 83, 60);
    font-weight: 800;
    padding-bottom: 10px;
    font-style: italic;
}

.footer-body-one p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    max-width: 500px;
}

.footer-body-two h4 {
    font-size: 22px;
}

.footer-body-two li {
    list-style: none;
    margin: 15px 0;
}

.footer-body-two li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.footer-body-three h4 {
    font-size: 22px;
}

.footer-body-three li {
    list-style: none;
    margin: 15px 0;
}

.footer-body-three li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-body-bottom p {
    text-align: center;
    margin: 20PX 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14PX;
}

/* Responsive  */
@media screen and (max-width:576px) {

    .footer-body {
        flex-direction: column;
        gap: 15px;
        padding: 40px 0;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    .footer-body {
        flex-direction: column;
        gap: 10px;
        padding: 40px 0;
    }
    
    
}

/* footer section end  */